decision copy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://domain.wsdl" 
xmlns:s="http://www.w3.org/2001/XMLSchema" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:tns="http://tempuri.org/" 
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:xsd1="domain.xsd" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
name="let you post/retrieve decision by SOAP protocol" >
    <!--  definition of datatypes  -->
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="authRequest">
                <s:complexType> 
                    <s:sequence>
                            <s:element minOccurs="1" maxOccurs="1" name="auth" type="s:string"/>
                            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="adobeResponse">
                <s:complexType>
                  <s:sequence>
                    <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
                  </s:sequence>
                </s:complexType>
              </s:element>
        </s:schema>
    </wsdl:types> <!--  response messages  -->
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="MessageAdobeSoapIn">
    <wsdl:part name="parameters" element="tns:authRequest"/>
  </wsdl:message>
  <wsdl:message name="MessageAdobeSoapOut">
    <wsdl:part name="parameters" element="tns:adobeResponse"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="MessageSplitterSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="MessageSplitter">
      <wsdl:input message="tns:MessageAdobeSoapIn"/>
      <wsdl:output message="tns:MessageAdobeSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

    <wsdl:binding name="GetDecisionwebservices" type="tns:GetDecision">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <soap:operation name="get_decsion">
            <soap:operation soapAction="get_decsion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"  />
            </wsdl:input>
            <output>
                <soap:body use="literal"  />
            </output>
        </soap:operation>
    </wsdl:binding> 
    <wsdl:binding name="GetDecisionwebservices" type="tns:GetDecision">
        <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <soap12:operation name="get_decsion">
            <soap12:operation soapAction="get_decsion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"  />
            </wsdl:input>
            <output>
                <soap12:body use="literal"  />
            </output>
        </soap12:operation>
    </wsdl:binding> 
    
    <!--  access to service provider  -->
    <!-- <wsdl:service name="decision_services">
        <wsdl:port name="decision_services_0" binding="GetDecisionwebservices">
            <soap:address location="https://66657-signtoaep-uat.adobeio-static.net/api/v1/web/SignToAEP-0.0.1/tibco-decision" />
        </wsdl:port>
    </wsdl:service> -->
    <wsdl:service name="decision_services">
        <wsdl:port name="MessageSplitterServiceSoapPort" binding="tns:GetDecisionwebservices">
          <soap:address location="http://localhost:8000/decision/wsdl"/>
        </wsdl:port>
        <wsdl:port name="MessageSplitterServiceSoap12Port" binding="tns:GetDecisionwebservices">
          <soap12:address location="http://localhost:8000/decision/wsdl"/>
        </wsdl:port>
      </wsdl:service>

</wsdl:definitions>